# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

# Базы данных
*.db
*.sqlite

# Alembic
migrations/__pycache__/
*.pyc

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы окружения
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid

# Временные файлы
*.tmp
*.bak
